/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

h1{
  padding-top: 10px;
}

#brand{
  max-height: 30px;
  margin-top: -5px;
}

.page-header{
  margin-top: 0;
  border-radius: 6px;
  background-color: #eee;
}

.tile-row{
  display: flex;
  flex-flow: row;
}

.tile-col{
  display: flex;
  flex-flow: column;
  flex: 1;
}

.tile{
  margin: 6px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
